.main {
    width: 40%;
    margin: auto;
    padding: 8px;
}

.main>div+div {
    margin-top: 16px;
}

.selection {
    display: flex;
    justify-content: space-between;
}

.selection>img {
    max-height: 150px;
    max-width: 30%;
    object-fit: cover;
}

#editing_canvas {
    max-height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;

}

.editing_buttons {
    display: flex;
    justify-content: space-evenly;
}